* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background: #eee;
}
.section-center {
  margin: 0 auto;
  max-width: 40rem;
  text-align: center;
  margin-top: 5rem;
  width: 90vw;
}
.section-center h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.lorem-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
label {
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 1.4rem;
}
input {
  margin-left: 5px;
  background: #fff;
  width: 4rem;
  border: none;
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.btn {
  margin-left: 8px;
  background: violet;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
}
.btn:hover {
  background: rgb(170, 120, 170);
}
.lorem-text {
  max-width: 40rem;
  margin: 1.5rem auto;
  color: rgb(141, 102, 102);
}
.result {
  margin-bottom: 2rem;
}